<%- include('partials/header') %>

    <h1>Home</h1>
    <p>
        <%= constant %>
    </p>

    <% post.forEach(function(post) { %>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content.substring(0,100) %>...</p>
            <a href="/posts/<%= post._id %>">Read more</a>
<% }); %>
<a href="/compose" class="footer-btn">Compose</a>

<%- include("partials/footer") -%>